html {
  height: 100vh;
  width: 100vw;
  background-image: url("https://th.bing.com/th/id/OIP.93k8REuLkuwgljx9WUnctAHaPO?pid=ImgDet&rs=1");
}
.centered_text {
  text-align: center;
}
body {
  width: 65vw;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: rgb(156, 62, 62);
  /*background-image: url("https://th.bing.com/th/id/OIP.93k8REuLkuwgljx9WUnctAHaPO?pid=ImgDet&rs=1");*/
}
#results_title {
  font-size: 24px;
  margin-top: 4em;
  padding: 0.8em;
  background-color: rgb(156, 151, 151);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#results_container {
  background-color: rgb(245, 210, 210);
  font-size: 34px;
  text-align: left;
}
#country {
  font-size: 36px;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"),
    auto;
}
#results_container_meals {
  background-color: rgb(245, 210, 210);
}
/*hidden id*/
#meal_id {
  display: none;
}

/*Meal title*/
#results_container_meals {
  font-size: 36px;
  text-align: center;
}
/*image*/
#meal_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 3em;
  padding-bottom: 3em;
}
/*description*/
.rules {
  width: 70%;
  margin: auto;
  margin-bottom: 1em;
  text-align: center;
  display: block;
  background-color: rgb(223, 108, 108);
  font-size: 24px;
}
