html {
  height: 100vh;
  width: 100vw;
  background-image: url("https://th.bing.com/th/id/OIP.93k8REuLkuwgljx9WUnctAHaPO?pid=ImgDet&rs=1");
}
.centered_text {
  text-align: center;
}
body {
  width: 65vw;
  height: auto;
  position: relative;
  min-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(156, 62, 62);
  /*background-image: url("https://th.bing.com/th/id/OIP.93k8REuLkuwgljx9WUnctAHaPO?pid=ImgDet&rs=1");*/
  border-radius: 25px;
}
#results_title {
  font-size: 24px;
  margin-top: 4em;
  padding: 0.8em;
  background-color: rgb(199, 197, 197);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 25px;
}
.results_title-active{
color: #000;
font-weight: bold;
font-size: 2rem;
animation: blinkingText 2s infinite;
}

@keyframes blinkingText {
0% {
  color: #750808;
}
25% {
  color: #ee0c0c;
}
50% {
  color: #ef0a1a;
}
75% {
  color: #771818;
}
100% {
  color: #d84949;
}
}

#results_container {
  border-radius: 25px;
  background-color: rgb(102, 42, 18);
  font-size: 34px;
  text-align: left;
}
#country {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"),
    auto;
  width: 300px;
  color: rgb(226, 215, 215);
  font-size: 18px;
  padding: 12px 0;
  border: 0;
  border-radius: 300px;
  outline: none;
  margin-top: 30px;
  text-align: center;
}
#results_container_meals {
  background-color: rgb(245, 210, 210);
  border-radius: 25px;
}
/*hidden id*/
#meal_id {
  display: none;
}

/*Meal title*/
#results_container_meals {
  font-size: 36px;
  text-align: center;
}
/*image*/
#meal_image {
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 1em;
  padding-bottom: 3em;
}
/*description*/
.rules {
  border-radius: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
  text-align: center;
  display: block;
  background-color: rgb(223, 108, 108);
  font-size: 24px;
  padding: 1em, 1em, 1em;
}
